<!DOCTYPE html>
<html>
  <head>
    <title>ksonnet</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/themes/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="project/css/dashboard.css">

    <script src="/jquery/jquery-2.1.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Mobile first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ksonnet</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/tour">tour of ksonnet</a></li>
            <li class="dropdown">
              <a href="/docs" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">docs <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">ksonnet</a></li>
                <li><a href="#">vscode extention</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">External Docs</li>
                <li><a href="https://kubernetes.io/docs/home/" target="_blank">Kubernetes</a></li>
                <li><a href="http://jsonnet.org/docs/" target="_blank">jsonnet</a></li>
              </ul>
            </li>
            <li><a href="http://slacking.ksonnet.io/" target="_blank">contact</a></li>
            <li><a href="https://github.com/ksonnet/" target="_blank">github</a></li>
          </ul>
          <div>
            <ul class="nav navbar-nav navbar-right">
              <li class="vcenter">
                <iframe id="gh-star" src="https://ghbtns.com/github-btn.html?user=ksonnet&repo=ksonnet-lib&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      {{template "content" .}}
    </div>

  </body>
</html>
