{{define "content"}}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>ksonnet</h1>
    <p>a framework to develop and deploy your Kubernetes application manifests in a way that's simple and scales</p>
    <p><a class="btn btn-info btn-lg" href="/tour" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<!-- Main three columns -->
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Save time.</h2>
      <p>Start right away with Prototypes, app-specific Kubernetes configurations with sensible defaults. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Collaborate easily.</h2>
      <p>Clear file structure and apps as Components ensure organized  workflow and clear version control. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Scale up faster.</h2>
      <p>Extensibility and flexibility of Components allows you to grow with your application. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
{{end}}
